Binaries/
Build/
DerivedDataCache/
Intermediate/
Saved/
Output/

*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.VC.db
*.VC.VC.opendb

*.log
*.tmp

.DS_Store

.vscode/
.idea/

# Visual Studio cache
.vs/
*.ipch
.vsconfig

# Jetbrain Rider
.idea/
*.DotSettings.user  
